In [210]:
import pandas as pd

In [211]:
df_heroes = pd.read_json("purchase_data.json")

## Player Count:

In [212]:
player_count = len(df_heroes['SN'].unique())

df_total_number_of_players=pd.DataFrame({
    "Total Players":[player_count ]
})

df_total_number_of_players.head()

   Total Players
0            573

## Purchasing Analysis (Total):

In [213]:
unique_items=len(df_heroes["Item ID"].unique())
average_price=df_heroes["Price"].mean()
number_purchases=df_heroes["Item Name"].count()
total_revenue=df_heroes["Price"].sum()
df_purchasing_total=pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]
})
df_purchasing_total=df_purchasing_total[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]
df_purchasing_total["Average Price"]=df_purchasing_total["Average Price"].map('${:.2f}'.format)
df_purchasing_total["Total Revenue"]=df_purchasing_total["Total Revenue"].map('${:,.2f}'.format)
df_purchasing_total.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $2.93                  780     $2,286.33

## Gender Demographics

In [214]:
unique_players_df=df_heroes.drop_duplicates(subset=["SN"], keep='first', inplace=False)
gender_counts=unique_players_df["Gender"].value_counts()
df_gender=pd.DataFrame(gender_counts)
df_gender=df_gender.rename(columns={"Gender": "Total Count"})
df_gender["Percentage of Players"]=df_gender["Total Count"]*100/df_gender["Total Count"].sum()
df_gender["Percentage of Players"]=df_gender["Percentage of Players"].round(2)
df_gender=df_gender[["Percentage of Players", "Total Count"]]

df_gender.head()

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

## Purchasing Analysis (Gender)

In [215]:

gender_group=df_heroes.groupby("Gender")
purchase=gender_group["Item Name"].count()
purchase_df=pd.DataFrame(purchase)
purchase_df=purchase_df.rename(columns={"Item Name": "Purchase Count"})
purchase_df["Average Purchase Price"]=gender_group["Price"].mean().map('${:.2f}'.format)
purchase_df["Total Purchase Value"]=gender_group["Price"].sum().map('${:,.2f}'.format)
purchase_df["Normalized Totals"]=gender_group["Price"].sum()/df_gender["Total Count"]
purchase_df["Normalized Totals"]=purchase_df["Normalized Totals"].map('${:.2f}'.format)
purchase_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,$3.83
Male,633,$2.95,"$1,867.68",$4.02
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

## Age Demographics

In [230]:
group_names=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins=[0,9,14,19,24,29,34,39,120]

unique_players_df["Age Group"]=pd.cut(unique_players_df["Age"],bins, labels=group_names)

group_age=age_dem_df.groupby("Age Group")

dem=group_age["SN"].count()
age_demographics_df=pd.DataFrame(dem)
age_demographics_df=age_demographics_df.rename(columns={"SN":"Total Count"})
age_demographics_df["Percentage of Players"]=age_demographics_df["Total Count"]*100/age_demographics_df["Total Count"].sum()
age_demographics_df["Percentage of Players"]=age_demographics_df["Percentage of Players"].round(2)
age_demographics_df=age_demographics_df[["Percentage of Players", "Total Count"]]
age_demographics_df.head(10)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

           Percentage of Players  Total Count
Age Group
<10                         3.32           19
10-14                       4.01           23
15-19                      17.45          100
20-24                      45.20          259
25-29                      15.18           87
30-34                       8.20           47
35-39                       4.71           27
40+                         1.92           11

## Purchasing Analysis (Gender)

In [187]:
df_heroes.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59