### Step 1 - Data Engineering

In [1]:
#import dependencies
import pandas as pd

In [2]:
file1="Resources/hawaii_measurements.csv"
file2="Resources/hawaii_stations.csv"

In [3]:
#read the measurement and station CSV files as DataFrames.
mesasurement_df=pd.read_csv(file1)
stations_df=pd.read_csv(file2)

In [4]:
mesasurement_df.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [5]:
stations_df.head(10)
#stations_df contains only 9 records, and we can notice there are neither duplicates nor missing values

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
#Inspect the data in mesasurement_df for NaNs and missing values
mesasurement_df.count()

#it is noticeable that only 'prcp' column has missing (NaN) values

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [15]:
#count rows where mesasurement_df['prcp']==0
mesasurement_df.loc[mesasurement_df['prcp']==0].count()

station    8185
date       8185
prcp       8185
tobs       8185
dtype: int64

In [16]:
#since '0' is a very common value in the 'prcp' column, use it to replace NaNs
mesasurement_df.fillna(value=0, inplace=True)

In [17]:
mesasurement_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [18]:
mesasurement_df.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [19]:
#Save your cleaned CSV files with the prefix clean_
stations_df.to_csv("Resources/clean_hawaii_stations.csv", index=False)
mesasurement_df.to_csv("Resources/clean_hawaii_measurements.csv", index=False)